node_modules
npm-debug.log
dist
coverage
.git
.gitignore
.vscode
.idea
.DS_Store
*.local
*.env
*.env.*
src/generated
.env
.env.*
!.env.example
.github
*.md
Dockerfile
.dockerignore
docker-compose.yml
stream-pro-7e2d1-firebase-adminsdk-fbsvc-051010650a.json